* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 50px;
  width: 100%;
  background-color: #FF9A4B;
}

.container {
  width: 960px;
  margin: 50px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.item {
  width: 300px;
  padding: 10px;
  background-color: #EEEEEE;
  position: relative;
}

.item-img {
  height: 150px;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

.item:nth-child(1) > .item-img {
  background-image: url(img/flow01.png);
}

.item:nth-child(2) > .item-img {
  background-image: url(img/flow02.png);
}

.item:nth-child(3) > .item-img {
  background-image: url(img/flow03.png);
}

.item-flow {
  position: absolute; 
  top: 0px;
  left: 0px;
  background-color: #FF9A4B;
  color: #EEEEEE;
}

.item-text > h3 {
  padding-top: 15px;
  padding-bottom: 5px;
}

footer {
  height: 50px;
  width: 100%;
  background-color: #AAAAAA;
}